:root {
  --primary-color: #3F51B5;
  --secondary-color: #1B75BC;
  --color-gray: #979494;
  --color-black: black;
  --color-white: white;
  --warning: #ffc107;
  --danger: #dc3545;
  --success: #28a745;
  --size-arrow: 35px;
  --antd-color-gray: #F4F4F4;
  --orange: #FF9901;

}


.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  padding: 260px;
}
